<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/header') %>
 <!-- Display all of my schedules-->
 <% for (let i =0; i < schedules.length; i++) { %> 
  <p>
    <%= schedules[i].id %> <br>
    <%= schedules[i].firstname %> <br>
    <%= schedules[i].lastname %> <br>
    <%= schedules[i].day_of_week %> <br>
    <%= schedules[i].start_at %> <br>
    <%= schedules[i].end_at %> <br>
  </p>
  <% } %>
</body>
</html>

<!--checkout mdn references
table - header row
loop starts here
  row 
  columns -->