<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/header') %>
 <!-- Display all of my schedules-->
 
 <table>
    <thead>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Day</th>
          <th>Start at</th>
          <th>End at</th>
      </tr>
    </thead>
  
    <tbody>
      <% for (let i =0; i < schedules.length; i++) { %> 
      <tr>
        <td> <%= schedules[i].firstname %> </td>
        <td> <%= schedules[i].lastname %> </td>
        <td> <%= schedules[i].email %> </td>
        <td> <%= schedules[i].day_of_week %> </td>
        <td> <%= schedules[i].start_at %> </td>
        <td> <%= schedules[i].end_at %> </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>



<!--checkout mdn references
table - header row
loop starts here
  row 
  columns -->